<h1>New addition</h1>

<form action="/wizard_add">
  <label for = "bull">Add this:</label>
  <input id = "bull" name = "first_num">

  <label for = "cow">to this:</label>
  <input id = "cow" name = "second_num">

  <button>Add!</button>
</form>
