<h1>New division</h1>

<form action="/wizard_divide">
  <label for = "clown">Divide this:</label>
  <input id = "clown" name = "first_num">

  <label for = "buffone">by this:</label>
  <input id = "buffone" name = "second_num">

  <button>Divide!</button>

</form>
