<h1>New multiplication</h1>

<form action = "/wizard_multiply">
  <label for = "lizard">Multiply this:</label>
  <input id = "lizard" name = "first_num">

  <label for = "iguana">by this:</label>
  <input id = "iguana" name = "second_num">

  <button>Multiply!</button>
</form>
