<h1>New Subtraction</h1>

<form action="/wizard_subtract">
  <label for="dog">Subtract this:</label>
  <input id="dog" name = "first_num">

  <label for="cat">from this:</label>
  <input id="cat" name = "second_num">

  <button>Subtract!</button>
</form>
